body{
    background-color: burlywood;
}

#navbar{
    list-style-type: none;
    padding: 25px;
    margin: 0;
    background-color: #8b4513;
}

#navbar li{
    padding: 13px;
    display: inline;
};

#navbar li p{
    padding-top: 3px;
    padding-bottom: 45px;
    color: lightblue;
    display: inline;
    font-size: large;
    padding-left: 10px;
}

#techHeader{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: lightblue;
    font-size: 230%;
    padding: 23px;
}

a {
    text-decoration: none;
    color: lightblue;
}

.navLink{
    text-decoration: none;
    color: lightblue;
}